<div class="header">
    <div class="container header__container">
            <div class="row">
                <div class="col-xl-12 ">
                    <div class="header__text">
                        <h1>{{ title }}</h1>
                        <p>{{ description }}</p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12 btn_w">
                    <div class="header__btns">
                        <button class="header__btn header__btns__service">{{ service_btn }}</button>
                        <button class="header__btn header__btns__hire">{{ hire_btn }}</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12">
                    <div class="header__arrow__down">
                        <a href="#about" class="nav-link">
                            <i class="bi bi-chevron-down"></i>
                        </a>
                    </div>
                </div>
            </div>
    </div>
</div>