<div class="container-fluid header">
    <div class="header__container">
        <div class="row">
            <div class="col-xl-12 header__text ">
                <h1>Web development project</h1>
                <p>Very suitable to support all web development projects</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12 btn_w">
                <button class="header__btn header__btn__service">our services</button>
                <button class="header__btn header__btn__hire">hire is now</button>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 chevron-down btn-right">
                <i class="bi bi-chevron-down"></i>
            </div>
        </div>
    </div>
</div>