@import '../../styles'
.header
    padding: 0
    
    
    &__container
        display: flex
        flex-direction: column
        justify-content: center
        height: 88vh
        background-image: url('/assets/rectangle.png')
        background-size: cover
        background-position: center
        
    
    &__text
        text-align: center
        color: $white-color

        & > h1
            font-size: 60px
            font-weight: 400
        
        & > p
            font-size: 22px
            font-weight: 400
            margin-bottom: 100px
    
    &__btn
        font-size: 20px
        font-weight: 700
        text-transform: uppercase
        letter-spacing: 1px
        color: $white-color
        margin-bottom: 20px
        

        &__service
            padding: 17px
            background-color: rgba(0, 0, 0, 0)
            border: 3px solid $white-color
            
        &__hire
            padding: 15px
            background: $green-color
            border: none
            margin-left: 20px

.bi-chevron-down
    color: $white-color
    font-family: "Font Awesome"
    font-size: 40px
    font-weight: 400
    font-style: normal
    letter-spacing: normal
    line-height: 22px
    text-align: center
    font-style: normal
    letter-spacing: 1.25px
    line-height: normal

.chevron-down
    text-align: center
    margin-top: 130px


.btn_w
    display: flex
    justify-content: center
    flex-wrap: wrap
