<div class="container">
    <div class="about">
        <div class="row">
            <div class="col-xl-12 ">
                <div class="about__text">
                    <h2>{{ title }}</h2>
                    <p>{{ description }}</p>
                </div>
            </div>
        </div>
        <div class="row about__items">
            <div class="col-xl-4 about__item" *ngFor="let item of aboutItems">
                <img src="{{ item.icon }}" />
                <h3>{{ item.title }}</h3>
                <p>{{ item.description }}</p>
            </div>
        </div>
    </div>
</div>