@import '../../styles'
.service
    background-color: #e4fdf9

    &__text
        display: flex
        flex-direction: column
        align-items: center

    &__cards
        display: flex
        flex-wrap: wrap

    &__card
        flex: 1 1 25%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        background-color: $white-color
        margin: 1.25rem
        color: $darc-color

        &:hover
            background-color: $green-color
            color: $white-color
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35)
            transition: .5s

        &:hover button
            border: 2px solid $white-color
            color: $white-color

        & > img
            margin-top: 3.625rem
            margin-bottom: 2.375rem
        
        & > h3
            margin-bottom: 1.625rem
        
        & > p
            margin-bottom: 2.812rem
        
        & > button
            padding: 0.625rem
            background-color: rgba(0, 0, 0, 0)
            border: 2px solid $darc-color
            margin-bottom: 3rem
