@import '../../styles'
.service
    background-color: #e4fdf9
    height: 100vh

    &__box
        height: 100%

    &__container
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        height: 100%

    &__text
        display: flex
        flex-direction: column
        align-items: center
        color: $darc-color
        max-width: 620px

        & > h2
            font-size: 1.875rem
            font-weight: 700
            margin-bottom: 1.5rem
        
        & > p
            font-size: 0.93rem
            letter-spacing: 0.75px
            text-align: center
            margin-bottom: 7.75rem
            font-weight: 400

    &__cards
        display: flex
        flex-wrap: wrap
