<div class="service">
    <div class="container service__container">
        <div class="row">
            <div class="col-md-12">
                <section-title [title]="title"></section-title>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4" *ngFor="let item of services">
                <service-card [service]="item" [serviceIcon]="serviceIcon" [serviceDescription]="description" [serviceButton]="buttonText" (mouseenter)="changeServiceIcon()" (mouseleave)="reChangeServiceIcon()"></service-card>
            </div>
        </div>
    </div>
</div>