@import '../../styles'
    
.contact
    height: 100vh
    background-image: url("/assets/rawpixel-com-252127.svg")
    background-position: center
    background-size: cover
    background-color: $darc-color

    &__text
        display: flex
        flex-direction: column
        align-items: center
        color: $white-color
    
    &__input
        border-radius: 10px
        color: $darc-color
        font-size: 1.25rem
        border: none
        outline: none
        width: 100%
        padding: 1.25rem

        &::placeholder
            color: $darc-color
    
    &__textarea
        width: 100%
        border-radius: 10px
        margin-top: 1.87rem
        color: $darc-color
        border: none
        outline: none
        padding: 1.25rem
        font-size: 1.25rem

        &::placeholder
            color: $darc-color

    &__card
        display: flex
        flex-direction: column
        justify-items: center
        align-items: center

        &__icon
            display: flex
            justify-content: center
            align-items: center
            width: 6.56rem
            height: 6.56rem
            background-color: #3949ab
            border-radius: 50%

            & > i 
                font-size: 3.75rem
                color: $white-color
    
        &__data
            color: $white-color
            margin-top: 2.43rem
            font-size: 1.25rem
