@import '../../styles'
    
.contact
    height: 100vh
    background-image: url("/assets/rawpixel-com-252127.svg")
    background-position: center
    background-size: cover
    background-color: $darc-color

    &__text
        display: flex
        flex-direction: column
        align-items: center
        color: $white-color

    &__card
        display: flex
        flex-direction: column
        justify-items: center
        align-items: center

        &__icon
            display: flex
            justify-content: center
            align-items: center
            width: 105px
            height: 105px
            background-color: #3949ab
            border-radius: 50%

            & > i 
                font-size: 60px
                color: $white-color
    
        &__data
            color: $white-color
            margin-top: 39px
            font-size: 20px
