<div class="contact">
    <div class="contact__bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 contact__text">
                    <section-title [title]="title"></section-title>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" *ngFor="let item of contacts">
                    <div class="contact__card">
                        <div class="contact__card__icon">
                            <i class="{{ item.icon }}"></i>
                        </div>
                        <div class="contact__card__data">
                            <p>{{ item.contact }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="text" placeholder="Your NAME" class="contact__input">
                </div>
                <div class="col-md-6">
                    <input type="text" placeholder="Your EMAIL" class="contact__input">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <textarea rows="10" class="contact__textarea" placeholder="Write Massage"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="contact__send">
                        <button class="contact__send__btn">SEND</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>