@import '../../styles'

.contact
    height: 100vh
    background-image: url("/assets/rawpixel-com-252127.svg")
    background-position: center
    background-size: cover

    &__text
        display: flex
        justify-content: center

    &__bg
        background-color: $darc-color
        opacity: 0.9
        height: 100%
    
    &__input
        border-radius: 10px
        color: $darc-color
        font-size: 1.25rem
        border: none
        outline: none
        width: 100%
        padding: 1.25rem

        &::placeholder
            color: $darc-color
    
    &__textarea
        width: 100%
        border-radius: 10px
        margin-top: 1.87rem
        color: $darc-color
        border: none
        outline: none
        padding: 1.25rem
        font-size: 1.25rem

        &::placeholder
            color: $darc-color

    &__card
        display: flex
        flex-direction: column
        justify-items: center
        align-items: center

        &__icon
            display: flex
            justify-content: center
            align-items: center
            width: 6.56rem
            height: 6.56rem
            background-color: $blue-color
            border-radius: 50%

            & > i 
                font-size: 3.75rem
                color: $white-color
    
        &__data
            color: $white-color
            margin-top: 1rem
            margin-bottom: 1rem
            font-size: 1.4rem

    &__send
        display: flex
        justify-content: flex-end
        margin-top: 1rem

        &__btn
            color: $darc-color
            font-size: 1.25rem
            background-color: $white-color
            border: none
            border-radius: 10px
            padding: 1rem 4rem
            transition: .5s

            &:hover
                background-color: $blue-color
                color: $white-color
