@import '../../styles.sass'
    
.navbar
    padding: 1.875rem 0
    background-color: $white-color
    &-brand
        font-size: 1.5rem
        font-weight: 700
        color: $darc-color
        font-family: $open-sans

        &:hover
            color: $green-color
    
    &-nav .nav-item
        margin-left: 2.5rem
        cursor: pointer
    
    &-nav .nav-link
        font-size: 1.25rem
        font-weight: 400
        color: $darc-color
        font-family: $open-sans
        line-height: 1.24rem

        &:hover
            color: $green-color